.title-post {
    padding-top: 1em;
    color: white;
    margin-bottom: 1em;
}

.content-post {
    border-radius: 1em;
    padding: 1em;
}

.content-post img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
.content-post {
    padding: 2em;
}
}